<p><strong>Estadísticas</strong></p>
<br/>
<ul>
	<li>Preguntas: <%=statistics.quizes%></li>
	<li>Comentarios: <%=statistics.comments%></li>
	<li>Comentarios por pregunta: <%=statistics.quizcomments.toFixed(2)%></li>
	<li>Preguntas sin comentarios: <%=statistics.quizuncommented%></li>
	<li>Preguntas con comentarios: <%=statistics.quizcommented%></li>
</ul>